/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    background: #efefef;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
    padding: 2em 5em;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {box-sizing: border-box;}

#output {margin: 2em 0;}

.water-fall-holder {fill:#ccc;}

.water-fall-chart {width:100%; background:#f0f5f0;}
.water-fall-chart .marker-holder {width:100%;}
.water-fall-chart .line-holder {stroke-width:1; stroke: #ccc; stroke-opacity:0.5;}
.water-fall-chart .line-holder.active {stroke: #69009e; stroke-width:2; stroke-opacity:1;}
.water-fall-chart .labels {width:100%;}
.water-fall-chart .labels .inner-label {pointer-events: none;}
.water-fall-chart .time-block.active {opacity: 0.8;}
.water-fall-chart .line-end, .water-fall-chart .line-start {display: none; stroke-width:1; stroke-opacity:0.5; stroke: #000;}
.water-fall-chart .line-end.active, .water-fall-chart .line-start.active {display: block;}
.water-fall-chart .mark-holder text {-webkit-writing-mode: tb; writing-mode:vertical-lr; writing-mode: tb;}

.time-scale line {stroke:#0cc; stroke-width:1;}
.time-scale text {font-weight:bold;}

.domain-selector {float:right; margin: -35px 0 0 0;}





/*initiator and file types*/
.css {background: #afd899;}
.iframe,
.html,
.internal {background: #85b3f2;}
.img,
.image {background: #bc9dd6;}
.script,
.js {background: #e7bd8c;}
.link {background: #89afe6;}
.swf,
.flash {background: #4db3ba;}
.font {background: #e96859;}
.xmlhttprequest,
.ajax {background: #e7d98c;}
.other {background: #bebebe;}

.css-light {background: #b9cfa0;}
.iframe-light,
.html-light,
.internal-light {background: #c2d9f9;}
.img-light,
.image-light {background: #deceeb;}
.script-light,
.js-light {background: #f3dec6;}
.link-light {background: #c4d7f3;}
.swf-light,
.flash-light {background: #a6d9dd;}
.font-light {background: #f4b4ac;}
.xmlhttprequest-light,
.ajax-light {background: #f3ecc6;}
.other-light {background: #dfdfdf;}

/*block colours*/
.block-css {fill: #afd899;}
.block-iframe,
.block-html,
.block-internal {fill: #85b3f2;}
.block-img,
.block-image {fill: #bc9dd6;}
.block-script,
.block-javascript,
.block-js {fill: #e7bd8c;}
.block-link {fill: #89afe6;}
.block-swf,
.block-flash {fill: #4db3ba;}
.block-font {fill: #e96859;}
.block-xmlhttprequest,
.block-ajax {fill: #e7d98c;}
.block-other {fill: #bebebe;}

.block-total {fill: #ccc;}
.block-unload {fill: #909;}
.block-redirect {fill: #ffff60;}
.block-appcache {fill: #1f831f;}
.block-dns {fill: #1f7c83;}
.block-tcp {fill: #e58226;}
.block-ttfb {fill: #1fe11f;}
.block-response {fill: #1977dd;}
.block-dom {fill: #9cc;}
.block-dom-content-loaded {fill: #d888df;}
.block-onload {fill: #c0c0ff;}

.block-ssl {fill: #c141cd; }
.block-ms-first-paint-event {fill: #8fbc83; }
.block-dom-interactive-event {fill: #d888df; }
.block-network-server {fill: #8cd18c; }
.block-custom-measure {fill: #f00; }

.block-navigation-api-total {fill: #ccc;}
.block-blocking {fill: #cdcdcd;}

.block-undefined {fill: #0f0;} 









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}