
* {box-sizing: border-box;}

#output {margin: 2em 0; font-size: 12px; line-height: 1em;}

.water-fall-holder {fill:#ccc;}

svg.water-fall-chart {width:100%; background:#f0f5f0; overflow: visible;}
.water-fall-chart .left-fixed-holder {overflow: visible;}
.water-fall-chart .marker-holder {width:100%;}
.water-fall-chart .line-holder {stroke-width:1; stroke: #ccc; stroke-opacity:0.5;}
.water-fall-chart .line-holder.active {stroke: #69009e; stroke-width:2; stroke-opacity:1;}
.water-fall-chart .type-onload .line-holder  {stroke: #c0c0ff;}
.water-fall-chart .type-oncontentload .line-holder  {stroke: #d888df;}

.water-fall-chart .labels {width:100%;}
.water-fall-chart .labels .inner-label {pointer-events: none;}
.water-fall-chart .time-block.active {opacity: 0.8;}
.water-fall-chart .line-end, .water-fall-chart .line-start {display: none; stroke-width:1; stroke-opacity:0.5; stroke: #000;}
.water-fall-chart .line-end.active, .water-fall-chart .line-start.active {display: block;}

.water-fall-chart .mark-holder text {-webkit-writing-mode: tb; writing-mode:vertical-lr; writing-mode: tb;}

.left-fixed-holder .label-full-bg {fill: #fff; opacity: 0.9}

.time-scale line {stroke:#0cc; stroke-width:1;}
.time-scale text {font-weight:bold;}

.bg-stripes .even rect {fill: #ccc; opacity: 0.05;}
.bg-stripes .odd rect {fill: #000; opacity: 0.05;}
.bg-stripes
.bg-stripes g:hover rect {fill: #000; opacity: 0.2}


.lables { overflow: hidden;}

/*block colours*/
.block-css {fill: #a6d18f;}
.block-iframe,
.block-html,
.block-internal {fill: #82a8de;}
.block-img,
.block-image {fill: #b394cf;}
.block-script,
.block-javascript,
.block-js {fill: #e0b483;}
.block-link {fill: #89afe6;}
.block-swf,
.block-flash {fill: #42aab1;}
.block-font {fill: #e15d4e;}
.block-xmlhttprequest,
.block-ajax {fill: #f00;} /*remove?*/
.block-other {fill: #b3b3b3;}

.block-total {fill: #ccc;}
.block-unload {fill: #909;}
.block-redirect {fill: #ffff60;}
.block-appcache {fill: #1f831f;}
.block-dns {fill: #1f7c83;}
.block-tcp {fill: #e58226;}
.block-ttfb {fill: #1fe11f;}
.block-response {fill: #1977dd;}
.block-dom {fill: #9cc;}
.block-dom-content-loaded {fill: #d888df;}
.block-onload {fill: #c0c0ff;}

.block-ssl {fill: #c141cd; }
.block-ms-first-paint-event {fill: #8fbc83; }
.block-dom-interactive-event {fill: #d888df; }
.block-network-server {fill: #8cd18c; }
.block-custom-measure {fill: #f00; }

.block-navigation-api-total {fill: #ccc;}
.block-blocking, 
.block-blocked {fill: #cdcdcd;}

.block-undefined {fill: #0f0;} 


.block-blocked {fill: #ccc;} /*TODO: define colour*/
.block-dns {fill: #1f7c83;}
.block-connect {fill: #e58226;}
.block-ssl {fill:#c141cd;}
.block-send {fill: #1fe110;} /*TODO: define colour*/
.block-wait {fill: #1fe11f;} /*TODO: define colour*/
.block-receive {fill: #1977dd;}

.info-overlay {fill: #fff; stroke: #cdcdcd; }
.info-overlay-close-btn {fill: #cdcdcd; transform: translate(-4px, -4px); cursor: pointer;}
.info-overlay-close-btn text {fill: #111; pointer-events: none;}
.info-overlay-close-btn:focus {border: solid 1px #36c;}

.info-overlay-holder body { position: relative; height: 350px; width:100%; background: #e0e0e0; color: #333;}
.info-overlay-holder body .wrapper { position: absolute; top: 0; bottom: 0; left: 0; right: 0px; overflow: scroll;}
.info-overlay-holder h3 {font-size: 12px; padding: 1em; margin:0; background: #f9f9f9;}
.info-overlay-holder dt {float: left; clear: both; margin-top: 5px; width: 25%; text-align: right; font-weight: bold; }
.info-overlay-holder dd {float: left; margin: 5px 0 0 2%; padding: 0 0 0.5em 0;}
.info-overlay-holder dt:after { content: ":"; }

.info-overlay-holder .tab-nav {background: #f9f9f9;}
.info-overlay-holder .tab-nav ul {margin: 0; padding: 0;}
.info-overlay-holder .tab-nav li {margin: 0; padding: 0; display: inline-block;}
.info-overlay-holder button {background: #82a8de; outline:0; border:solid 1px transparent; border-bottom-width: 0; padding: 0.5em 1em; border:0; margin:0.5em 0 0 0.5em; border-top-right-radius: 3px; border-top-left-radius: 3px; border: solid 1px #e0e0e0; border-bottom-width: 0;}
.info-overlay-holder button:focus,.info-overlay-holder button:hover {border-color: #36c;} 
.info-overlay-holder button.active {background: #e0e0e0; cursor: default;} 

.info-overlay-holder .tab { padding:12px 12px 24px; float: left; width:100%; }
.info-overlay-holder .tab pre {overflow-y: hidden;}